.Checkbox {
  margin: 0 0 8px;

  &Button {
    margin: 0 16px 0 0;
  }

  &Label {
    padding: 8px;
    font-size: 13px;
    text-transform: uppercase;
    color: #999;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;

    &:hover {
      background: #FFF0BF;
    }
  }
}